<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/kalua.css?v=21330c6">
    <link rel="stylesheet" href="/static/tabulator/tabulator.min.css?v=21330c6">
    <link rel="stylesheet" href="/static/tabulator/themes/simple/simple.min.css?v=21330c6">
    <link rel="stylesheet" href="/static/flatpickr/flatpickr.min.css?v=21330c6">
</head>
<body>
    <div id="app">
        <div id="stage"></div>
        <div id="modals"></div>
        <div id="status-bar" class="hidden"></div>
    </div>
    <script src="/static/tabulator/tabulator.min.js?v=21330c6"></script>
    <script src="/static/chartjs/chart.umd.js?v=21330c6"></script>
    <script src="/static/flatpickr/flatpickr.min.js?v=21330c6"></script>
    <script src="/static/app.js?v=21330c6"></script>
</body>
</html>